@import url("file:///home/ditya/.config/wofi/colors-waybar.css"); /* change ditya with your user */

* {
  box-sizing: border-box;
}

/* --- General Wofi Window --- */
window {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 14px; /* Adjust font size as needed */
  background-color: alpha(@background, 0.7);
  color: @foreground;
  border: 1px solid @color6; /* Border around the entire wofi window */
  border-radius: 15px;
}

/* --- Input Field --- */
#input {
  background-color: @background;
  color: @foreground;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#input:focus {
  box-shadow: none;
  border: none;
}

/* --- Inner Scrollable Area (where results are listed) --- */
#outer-box {
  padding: 20px;
}

/* --- Selected/Active Entry --- */
#entry:selected {
  background-color: alpha(@color8, 0.5); /* Accent color for selection */
  color: @color6; /* Text color for selected item */
  border-radius: 10px;
}

/* --- Icons in Entries --- */
#entry image {
  margin-right: 10px;
  margin-left: 10px;
}

/* --- Mode Buttons (for sidebar mode) --- */
#mode-box {
  background-color: @background;
  border-right: 1px solid @background; /* Separator for sidebar */
}

#mode-box button {
  padding: 10px 15px;
  margin: 0 0 2px 0;
  color: @gruv_fg;
  border: none;
}

#mode-box button:selected {
  background-color: @color6; /* Selected mode button */
  color: @background;
  border-left: 3px solid @color6; /* Highlight for active mode */
}
