@import "colors-waybar.css";

@define-color foreground-inactive #928374;

window#waybar {
  color: @foreground;
  background-color: @color6;
  font-family: CaskaydiaCove Nerd Font;
  font-size: 13px;
  margin: 0;
}

#custom-separator {
  background-color: @background;
  color: @foreground-inactive;
}

#window {
  padding: 0 7px;
  background-color: @color6;
  color: @background;
}

#workspaces {
  background-color: @background;
}

#workspaces button {
  border-radius: 0;
  color: @foreground;
  padding: 0 3px;
}

#workspaces button.active {
  background-color: @color6;
  color: @background;
  border-color: @color6;
}

#workspaces button.occupied {
  background-color: @background;
  color: @foreground;
}

#workspaces button.urgent {
  background-color: @color9;
  color: @foreground;
}

#workspaces button:hover {
  background-color: @background;
  border-color: @color6;
}

#tray {
  background-color: @background;
  padding: 0 7px;
}

#temperature,
#wireplumber,
#backlight,
#battery,
#clock {
  background-color: @background;
  color: @foreground;
  padding: 0 7px;
}
